In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [69]:
movies = pd.read_csv('data/ml-latest-small/movies.csv').set_index('movieId')
ratings = pd.read_csv('data/ml-latest-small/ratings.csv').set_index('movieId')

In [46]:
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [47]:
# Convert the pipe delimited valies to a list
movies['genres'] = movies['genres'].str.split('|')
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
2,Jumanji (1995),"[Adventure, Children, Fantasy]"
3,Grumpier Old Men (1995),"[Comedy, Romance]"
4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
5,Father of the Bride Part II (1995),[Comedy]

In [32]:
ratings.head()

         userId  rating   timestamp
movieId
31            1     2.5  1260759144
1029          1     3.0  1260759179
1061          1     3.0  1260759182
1129          1     2.0  1260759185
1172          1     4.0  1260759205

In [86]:
df = movies.join(ratings).dropna()
df.head()

,title,genres,userId,rating,timestamp
movieId,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,3.0,8.518667e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9.0,4.0,9.386292e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13.0,5.0,1.331380e+09
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.0,9.979383e+08
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,3.0,8.551901e+08

In [96]:
df_tmp = pd.DataFrame({genres})

df = pd.DataFrame({'listcol':[[1,2,3],[4,5,6]]})

# expand df.listcol into its own dataframe
tags = df['listcol'].apply(pd.Series)

# rename each variable is listcol
tags = tags.rename(columns = lambda x : 'listcol_' + str(x))

# join the tags dataframe back to the original dataframe
df = pd.concat([df[:], tags[:]], axis=1)

NameError: name 'genres' is not defined

In [108]:
td = {'id': [1,2,3,4,5], 'train1': [20.0,20.4,20.1,21.2,21.3],
      'train2': [4.5,4.1,2.3,2.9,3.4], predict
     }
pd.DataFrame.from_dict(td)

   id  train1  train2
0   1    20.0     4.5
1   2    20.4     4.1
2   3    20.1     2.3
3   4    21.2     2.9
4   5    21.3     3.4

In [90]:
train, test = train_test_split(df, test_size = 0.2)
feature_cols = ['userId']
X = train.loc[:, feature_cols]
X.shape

(80003, 1)

In [95]:
y = train['rating']
print(y.shape)
print(y.dtypes)

(80003,)

AttributeError: 'Series' object has no attribute 'to_numeric'

In [92]:
logreg = LogisticRegression()
logreg.fit(X,y)

ValueError: Unknown label type: 'continuous'

In [54]:
train.head()

,title,genres,userId,rating,timestamp
movieId,,,,,
260,Star Wars: Episode IV - A New Hope (1977),"[Action, Adventure, Sci-Fi]",451.0,4.0,9.793301e+08
190,Safe (1995),[Thriller],514.0,3.0,8.538952e+08
778,Trainspotting (1996),"[Comedy, Crime, Drama]",73.0,5.0,1.255862e+09
3994,Unbreakable (2000),"[Drama, Sci-Fi]",350.0,5.0,1.011047e+09
832,Ransom (1996),"[Crime, Thriller]",580.0,2.5,1.167158e+09